﻿
@model Loan.Cars.Models.VehiculeViewModel

@{
    var marques = (IEnumerable<SelectListItem>)ViewBag.Marques;
    var modeles = (IEnumerable<SelectListItem>)ViewBag.Modeles;
    var categories = (IEnumerable<SelectListItem>)ViewBag.Categories;
    var agences = (IEnumerable<SelectListItem>)ViewBag.Agences;

    ViewBag.Title = "Ajouter un véhicule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (Html.BeginForm("Create", "Vehicule", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div id="vehicule-form">

        <ul class="nav nav-tabs" id="vehiculeTab">
            <li class="active">
                <a href="#vehiculeIdentifier">
                    <span>Voiture</span>
                </a>
            </li>

            <li>
                <a href="#vehiculeOptions">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span>Options</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="vehiculeIdentifier">

                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.MarqueId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.MarqueId, marques, "selecttionner une marque ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MarqueId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ModeleId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.ModeleId, modeles, "selectionner un modele ", new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ModeleId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategorieId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.CategorieId, categories, "selectionner une catégorie ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategorieId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AgenceId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.AgenceId, agences, "selectionner une agence ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AgenceId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Immatriculation, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Immatriculation, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Immatriculation, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ImageFile, new { @class = "form-control", type = "file" })
                        @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.DateAchat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DateAchat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DateAchat, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.DateAchat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy - HH:ii p" data-link-field="DateAchat">
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="DateAchat" value="" />
                </div>

            </div>

            <div class="tab-pane" id="vehiculeOptions">

                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.ChargeUtile, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ChargeUtile, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ChargeMax, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ChargeMax, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Climatisation, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.TransmissionType, new List<SelectListItem> { new SelectListItem { Text = "Oui", Value = "1" }, new SelectListItem { Text = "Non", Value = "2" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TransmissionType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.TransmissionType,new List<SelectListItem> { new SelectListItem { Text = "Manauelle", Value = "1"} , new SelectListItem { Text = "Automatique", Value = "2" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NombrePlaces, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.NombrePlaces, new List<SelectListItem> {
                                                                        new SelectListItem { Text = "2 place", Value = "2" },
                                                                        new SelectListItem { Text = "3 places", Value = "3" },
                                                                        new SelectListItem { Text = "4 places", Value = "4" },
                                                                        new SelectListItem { Text = "5 places", Value = "5" }

                        }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NombrePlaces, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.NombrePlaces, new List<SelectListItem> {
                                                                        new SelectListItem { Text = "1 valise", Value = "1" },
                                                                        new SelectListItem { Text = "2 places", Value = "2" },
                                                                        new SelectListItem { Text = "3 places", Value = "3" }
                        }, new { @class = "form-control" })
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-arrow-save"></i>
                Valider
            </button>
        </div>
    </div>

}


<script  type="text/javascript">

    function loadModele(id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetDropDownDataModele","Vehicule")",
            data: { id : id },
            success: function(data)
            {
                $('#ModeleId').empty();
                $.each(data, function (){
                    $('#ModeleId').append($("<option />").val(this.Id).text(this.Name));
                });
            },
            failure: function () {
                alert("Failed!");
            }
        });
    }

    function loadCategorie(id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetDropDownDataCategorie", "Vehicule")",
            data: { id : id },
            success: function(data)
            {
                $("#CategorieId").empty(); 
                $.each(data, function (){
                    $("#CategorieId").append($("<option />").val(this.Id).text(this.Name));
                });
            },
            failure: function () {
                alert("Failed!");
            }
        });
    }

    $(document).ready(function () {
       
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#vehiculeTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#MarqueId').change(function (event) {
            debugger;
            $('#ModeleId').removeAttr('disabled');
            loadModele($('#MarqueId').val())
        });

        $('#ModelId').change(function (event) {
            debugger;
            $("#CategorieId").removeAttr('disabled');
            loadCategorie($('#ModelId').val())
        });

    });
</script>


