﻿


@model IEnumerable<Loan.Cars.Models.VehiculeViewModel>

@{
    ViewBag.Title = "Flotte de véhicule";
}

<h2>@ViewBag.Title</h2>

<hr />


<div id="custom-buttons" class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="vehicule" autocomplete="off" checked> Véhicules
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="utilitaire" autocomplete="off"> Utilitaires
    </label>
</div>

<div class="car-filter">
    <div class=""> <span class="v-car">Type</span> </div>
    <div class=""> <span class="v-door">Portes</span> </div>
    <div class=""> <span> <i class="glyphicon glyphicon-random"></i> Transmission</span></div>
    <div class=""> <span>Siège</span> </div>
</div>

<div class="vehicule-container">

    <div class="vehicule-block">
        <img src="~/Content/images/facade_img1.jpg" />
    </div>

    <div class="vehicule-block">

        <ul>
            <li>Berline | ECMR </li>
            <li>Classe A </li>
            <li>Mercedes </li>
        </ul>
        <div class="bottom">
            Prix par jour<span>£ 16025</span>
        </div>

    </div>

    <div class="vehicule-block">
        <div>

        </div>
        <ul>
            <li>Climatisation</li>
            <li>Manuelle </li>
            <li>1 valise</li>
            <li>à partir de 18 ans</li>
        </ul>
        <div>
            <a href="" style="height: 34px;width:100%" class="btn btn-warning">Reserver</a>
        </div>

    </div>

</div>


@if (Model != null && Model.Any())
{
    <div id="custom-buttons" class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="vehicule" autocomplete="off" checked> Véhicules
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="utilitaire" autocomplete="off"> Utilitaires
        </label>
    </div>

    <div class="car-filter">
        <div class=""> <span class="v-car">Type</span> </div>
        <div class=""> <span class="v-door">Portes</span> </div>
        <div class=""> <span> <i class="glyphicon glyphicon-random"></i> Transmission</span></div>
        <div class=""> <span>Siège</span> </div>
    </div>

    foreach (var item in Model)
    {
        <div class="vehicule-container">

            <div class="vehicule-block">
                <img src="~/Content/images/facade_img1.jpg" />
            </div>

            <div class="vehicule-block">

                <ul>
                    <li>Climatisation</li>
                    <li>Manuelle </li>
                    <li>1 valise</li>
                    <li>à partir de 18 ans</li>
                </ul>
                <div class="bottom">
                    Prix parjour<span>£ 16025</span>
                </div>

            </div>

            <div class="vehicule-block">
                <div>

                </div>
                <ul>
                    <li>Climatisation</li>
                    <li>Manuelle </li>
                    <li>1 valise</li>
                    <li>à partir de 18 ans</li>
                </ul>
                <div>
                    <a href="" style="height: 34px;width:100%" class="btn btn-warning">Reserver</a>
                </div>

            </div>

        </div>
    }
}
else
{
    <table class="table">
        <tr>
            <td colspan="11"> Aucune véhicule trouvé.</td>
        </tr>
    </table>
}


<style>

    .bottom
    {
        text-align:left;
        padding: 0 38px 0 38px;
    }

    .bottom span
    {
        float:right;
    }

    .vehicule-block
    {
        background-color:lightgray;
    }

    .vehicule-block ul
    {
        list-style: none;
        text-align: left;
        margin-top: 10px;
        height: 70%;
    }

    .vehicule-block ul li
    {
        padding-top: 10px;
    }

    #custom-buttons
    {
        /*background: red;*/
        width: 75%;
        margin-left: 143px;
    }

    .vehicule-block:nth-child(1)
    {
        float: left;
    }

    .vehicule-block:nth-child(3)
    {
        float: right;
    }

    .vehicule-block img
    {
        width: 100%;
        padding: 0;
        height: 100%;
    }
    .vehicule-container > div {
        display: inline-block;
        width : 33%;
        height: 180px;
        /*background: blue;*/
    }

    .vehicule-container {
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 20px;
        /*background-color: burlywood;*/
    }

    .vehicule-block img
    {
        vertical-align: bottom!important;
    }

    .car-filter {
        text-align: center;
        width: 75%;
        margin: auto;
        /*background-color: red;*/
        margin-top: 20px;
    }

    .car-filter div {
        display: inline-block;
        border: 1px solid black;
        width: 24.66%;
        height: 40px;
        margin: auto;
    }

    .car-filter span
    {
        vertical-align: -webkit-baseline-middle;
    }

</style>