﻿@model IEnumerable<Loan.Cars.Models.AgenceViewModel>

@{
    ViewBag.Title = "Liste des agences";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create","Agence")" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Créer une agence</span>
    </a>
</p>


@if (Model != null && Model.Any())
{
    <table class="table table-bordered employee-table">

        <thead class="thead-inverse">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdditionnalInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoxOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Town)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>

        </thead>

            @foreach (var item in Model)
            {
                <tbody>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdditionnalInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoxOffice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Town)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-success" href="@Url.Action("Edit", "Agence", new { id = item.Id })">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" href="@Url.Action("Remove", "Agence", new { id = item.Id })">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                
                </tbody>
            }

</table>
}
else
{
    <table class="table">
        <tr>
            <td colspan="6"> Aucune données trouvées.</td>
        </tr>
    </table>
}


<style>
    .employee-table thead th {
        text-align: center;
    }

        .employee-table thead th:last-child {
            width: 160px;
        }

    .employee-table tbody td {
        text-align: center;
        font-size: 12px;
        vertical-align: central;
    }

        .employee-table tbody td a {
            margin: 0 5px 0 5px;
        }
</style>
