﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="jumbotron">
    <nav class="navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-form navbar-left" role="search">
                    <li>
                        Du : @Html.Partial("_Datepicker", "id='BeginDate'")
                    </li>
                    <li>
                        Au : @Html.Partial("_Datepicker", "id='EndDate'")
                    </li>
                    <li>
                        <br />
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Rechercher</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('.fuelux-datepicker')
            .datepicker({ 'allowPastDates': true })
            .datepicker('setCulture', 'fr')
            .datepicker('setFormat', 'YYYY-MM-DD hh:mm:ss');

        });
        

    </script>
}

<style>

    .jumbotron > nav
    {
        top: 130px;
    }

    .jumbotron
    {
        background-image: url('../../Content/images/facade_img1.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        min-height:300px;
    }


    div.panel {
        margin: 15px 0;
    }

        div.panel tr > td {
            width: 50%;
        }

    .success {
        color: #57d323;
    }

    .error {
        color: #e26666 !important;
        font-weight: bold;
    }

    .repaired {
        color: #ffd800 !important;
        font-weight: bold;
    }

    body > .navbar, body > footer {
        display: none !important;
    }

    .compact-table {
        width: 355px !important;
        margin: 15px;
        height: 160px !important;
    }

    .user {
        font-size: 10px;
        font-style: italic;
    }

    .container {
        min-width: 1200px;
    }

    .table td {
        white-space: nowrap;
    }

        .table td:last-child {
            white-space: normal;
        }

    .navbar ul {
        list-style: none;
    }

        .navbar ul > li {
            margin-right: 15px;
            float: left;
        }

        .navbar ul > :last-child {
            margin-right: 0;
        }
</style>
