﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">

@*<form action="" class="form-horizontal" role="form">
    <fieldset>
        <legend>Test</legend>

        <div class="form-group">
            <label for="StartDate" class="col-md-2 control-label">Début de location</label>
            <div class="input-group date form_datetime col-md-5" data-date="" data-date-format="dd MM yyyy - HH:ii p" data-link-field="StartDate">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="StartDate" value="" />
        </div>

        <div class="form-group">
            <label for="EndDate" class="col-md-2 control-label">Fin de location</label>
            <div class="input-group date form_datetime col-md-5" data-date="" data-date-format="dd MM yyyy - HH:ii p" data-link-field="EndDate">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="EndDate" value="" />
        </div>


        <div class="form-group">
            <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
            <br />
            <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="dtp_input2" value="" />
        </div>
        <div class="form-group">
            <label for="dtp_input3" class="col-md-2 control-label">Time Picking</label>

            <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="dtp_input3" value="" />
        </div>
    </fieldset>
</form>*@


    <div id="custom-buttons" class="btn-group" data-toggle="buttons" style="margin-bottom:5px;margin-top:20px;">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="vehicule" autocomplete="off" checked> Véhicules
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="utilitaire" autocomplete="off"> Utilitaires
        </label>
    </div>

    <div class="car-filter">
        <div class=""> <span class="v-car">Type</span> </div>
        <div class=""> <span class="v-door">Portes</span> </div>
        <div class=""> <span> <i class="glyphicon glyphicon-random"></i> Transmission</span></div>
        <div class=""> <span>Siège</span> </div>
    </div>

    <div class="vehicule-container">

        <div class="vehicule-block">
            <img src="~/Content/images/facade_img1.jpg" />
        </div>

        <div class="vehicule-block">

            <ul>
                <li>Berline | ECMR </li>
                <li>Classe A </li>
                <li>Mercedes </li>
            </ul>
            <div class="bottom">
                Prix par jour<span>£ 16025</span>
            </div>

        </div>

        <div class="vehicule-block">
            <div>

            </div>
            <ul>
                <li>Climatisation</li>
                <li>Manuelle </li>
                <li>1 valise</li>
                <li>à partir de 18 ans</li>
            </ul>
            <div>
                <a href="" style="height: 34px;width:100%" class="btn btn-warning">Reserver</a>
            </div>

        </div>

    </div>


    @if (Model != null && Model.Any())
    {
        <div id="custom-buttons" class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="vehicule" autocomplete="off" checked> Véhicules
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="utilitaire" autocomplete="off"> Utilitaires
            </label>
        </div>

        <div class="car-filter">
            <div class=""> <span class="v-car">Type</span> </div>
            <div class=""> <span class="v-door">Portes</span> </div>
            <div class=""> <span> <i class="glyphicon glyphicon-random"></i> Transmission</span></div>
            <div class=""> <span>Siège</span> </div>
        </div>

        foreach (var item in Model)
        {
            <div class="vehicule-container">

                <div class="vehicule-block">
                    <img src="~/Content/images/facade_img1.jpg" />
                </div>

                <div class="vehicule-block">

                    <ul>
                        <li>Climatisation</li>
                        <li>Manuelle </li>
                        <li>1 valise</li>
                        <li>à partir de 18 ans</li>
                    </ul>
                    <div class="bottom">
                        Prix parjour<span>£ 16025</span>
                    </div>

                </div>

                <div class="vehicule-block">
                    <div>

                    </div>
                    <ul>
                        <li>Climatisation</li>
                        <li>Manuelle </li>
                        <li>1 valise</li>
                        <li>à partir de 18 ans</li>
                    </ul>
                    <div>
                        <a href="" style="height: 34px;width:100%" class="btn btn-warning">Reserver</a>
                    </div>

                </div>

            </div>
        }
    }
    else
    {
        <table class="table">
            <tr>
                <td colspan="11"> Aucune véhicule trouvé.</td>
            </tr>
        </table>
    }


<style>
        .bottom {
            text-align: left;
            padding: 0 38px 0 38px;
        }

            .bottom span {
                float: right;
            }

        .vehicule-block {
            background-color: lightgray;
        }

            .vehicule-block ul {
                list-style: none;
                text-align: left;
                margin-top: 10px;
                height: 70%;
            }

                .vehicule-block ul li {
                    padding-top: 10px;
                }

        #custom-buttons {
            /*background: red;*/
            width: 75%;
            margin-left: 143px;
        }

        .vehicule-block:nth-child(1) {
            float: left;
        }

        .vehicule-block:nth-child(3) {
            float: right;
        }

        .vehicule-block img {
            width: 100%;
            padding: 0;
            height: 100%;
        }

        .vehicule-container > div {
            display: inline-block;
            width: 33%;
            height: 180px;
            /*background: blue;*/
        }

        .vehicule-container {
            text-align: center;
            width: 75%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            /*background-color: burlywood;*/
        }

        .vehicule-block img {
            vertical-align: bottom !important;
        }

        .car-filter {
            text-align: center;
            width: 75%;
            margin: auto;
            /*background-color: red;*/
            margin-top: 20px;
        }

            .car-filter div {
                display: inline-block;
                border: 1px solid black;
                width: 24.6%;
                height: 40px;
                margin: auto;
            }

            .car-filter span {
                vertical-align: -webkit-baseline-middle;
            }
    </style>

</div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });

</script>