﻿
@model IEnumerable<Loan.Cars.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Liste des employées";
}

<h2>Liste des employées</h2>

<hr />

<p>
    <a href="@Url.Action("Create","Employee")" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Créer un employée</span>
    </a>
</p>


@if (Model != null && Model.Any())
{
    <table class="table table-bordered employee-table">

        <thead class="thead-inverse">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    Adresse
                </th>
                <th></th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:200px">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td style="width:250px">
                        <p>
                            @string.Format("{0} {1}",item.StreetNumber,item.StreetName) <br />
                            @string.Format("{0} {1}, {2}", item.BoxOffice, item.Town,item.Country)
                        </p>
                    </td>
                    <td>
                        @*<a class="btn btn-sm btn-success employee-edit" id="@item.UserId">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>*@ 
                        @*<a class="btn btn-sm btn-primary" href="@Url.Action("Details", "Employee",new { id = item.UserId })">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>*@ 
                        <a class="btn btn-sm btn-success" href="@Url.Action("Edit", "Employee",new { id = item.UserId })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a> 
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Remove", "Employee",new { id = item.UserId })">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>

                    </td>
                </tr>
            }

        </tbody>

    </table>
}
else
{
    <table class="table">
        <tr>
            <td colspan="11"> Aucune données trouvées.</td>
        </tr>
    </table>
}

<div id="DialogContent"></div>

<script type="text/javascript">

    @*$(document).ready(function () {

        var dialog = $('#DialogContent').dialog({
            title: 'Edition',
            autoOpen: false,
            resizable: false,
            position: ['center', 50],
            width: 700,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true
        })

        $('.employee-edit').on('click', function (event) {
            debugger;
            dialog.load('@Url.Action("Edit", "Employee")' + '?id=' + event.currentTarget.id)
                  .dialog('open');
        });
    });*@

</script>

<style>

    .employee-table thead th
    {
        text-align:center;
    }

     .employee-table thead th:last-child
     {
         width:160px;
     }

    .employee-table tbody td
    {
        text-align:center;
        font-size:12px;
        vertical-align:central;
    }

    .employee-table tbody td a
    {
        margin:0 5px 0 5px;
    }

</style>