﻿<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    @*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/bootstrap-datetimepicker.min.js"></script>


    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <title>@ViewBag.Title - Loan Cars</title>

</head>
<body>

    @Html.Partial("_PartialMenu")

    <div class="container body-content">

        @RenderBody()

        @Html.Partial("_PartialFooter")

    </div>

    @*<script src="~/Scripts/jquery-1.8.3.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/js/locales/bootstrap-datetimepicker.fr.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)

    
</body>
</html>

