﻿

@if (User != null && User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            
            @Html.Partial("_PartialUserInfo")

            <li><a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="glyphicon glyphicon-log-out"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
    }
}

