﻿
<ul class="nav navbar-nav navbar-right">

    <li>
        <a id="loginLink" href="@Url.Action("Login", "Account")">
            <i class="glyphicon glyphicon-log-in"></i>
            <span style="margin-left: 5px;">Connexion</span>
        </a>
    </li>

</ul>
