﻿
@*&& (User.IsInRole("ADMIN") || User.IsInRole("EMPLOYEE")))*@
@if (User != null && User.Identity.IsAuthenticated)  
{
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservation <b class="caret"></b></a>
        <ul class="dropdown-menu multi-level">
            <li><a href="@Url.Action("Cancel","Booking")">Annuler une reservation</a></li>
            <li><a href="@Url.Action("Index","Booking")">Liste des reservations</a></li>
        </ul>
    </li>
}

