﻿

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @*<li>@Html.ActionLink("À propos de", "About", "Home")</li>*@

                @Html.Partial("_PartialUserMenu")

                @Html.Partial("_PartialAdminMenu")

            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>