﻿

@if (User != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
{
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
        <ul class="dropdown-menu multi-level">
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agences</a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create","Agence")">Créer une agence</a></li>
                    <li><a href="@Url.Action("Index","Agence")">Voir la liste des agences</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employées</a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create","Employee")">Créer un employée</a></li>
                    <li><a href="@Url.Action("Index","Employee")">Voir la liste des employées</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Voitures</a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create","Vehicule")">Ajouter une voiture</a></li>
                    <li><a href="@Url.Action("Index","Vehicule")">Voir la liste des voiturex</a></li>
                </ul>
            </li>
        </ul>
    </li>
}