﻿
@model Loan.Cars.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer";
}

<h2>Changer les paramètres de votre compte</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @*<h4>Changer les paramètres de votre compte</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            @Html.ActionLink("Changer votre mot de passe", "ChangePassword")
        </dd>
    </dl>

    @*

    <dt>Connexions externes :</dt>

    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Gérer", "ManageLogins") ]
    </dd>

    Les numéros de téléphone peuvent servir de second facteur de vérification dans un système d'authentification à 2 facteurs.

    Consultez <a href="http://go.microsoft.com/fwlink/?LinkId=403804">cet article</a>
        pour des détails sur la configuration de cette application ASP.NET en vue de la prise en charge de l'authentification à 2 facteurs via des SMS.

    Décommentez le bloc suivant après avoir configuré l'authentification à 2 facteurs
    <dt>Numéro de téléphone :</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>


    <dt>Authentification à 2 facteurs :</dt>
    <dd>
        <p>
            Il n'existe aucun fournisseur d'authentification à 2 facteurs configuré. Consultez <a href="http://go.microsoft.com/fwlink/?LinkId=403804">cet article</a>
            pour des détails sur la configuration de cette application ASP.NET en vue de la prise en charge de l'authentification à 2 facteurs.
        </p>
        @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Activé
                    <input type="submit" value="Désactiver" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Désactivé
                    <input type="submit" value="Activer" class="btn btn-link" />
                    </text>
                }
            }
    </dd>
    </dl>
        
    *@

</div>
