﻿
@model Loan.Cars.Models.ManageViewModel
@{
    ViewBag.Title = "Gérer";
}

<style>

    .tablebloc
    {
        display:block;
        margin: 0 0 10px;
        padding: 10px;
        background: #f6e8e8;
    }

    .tablebloc2
    {
        width: 300px;
        text-align: center;
    }

    .tablebloc1
    {
        width: 150px;
    }

    .tablebloc1,.tablebloc2,.tablebloc3
    {
        display: table-cell;
        vertical-align: top;
        padding: 10px 10px 10px 0;
    }

    .tablebloc3
    {
        padding-left: 40px;
    }

    #accordion li
    {
        list-style:none;
    }

    #accordion a
    {
        text-decoration:none;
    }

</style>

<h2>Modifier mon compte</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<hr />

<ul id="accordion">

    <li>
        <a class="heading">
            <div class="tablebloc">
                <div class="tablebloc1">
                    <strong>
                        Informations personnelles
                    </strong>
                </div>
                <div class="tablebloc2">
                        @{
                            <text>
                                @string.Format("{0} {1}", Model.FirstName, Model.LastName)
                            </text>
                        }
                </div>
                <div class="tablebloc3">
                   
                        @{
                            <text>
                                @string.Format("{0} {1}", Model.StreetNumber, Model.StreetName) <br />
                                @string.Format("{0} {1}, {2}", Model.BoxOffice, Model.Town, Model.Country)
                            </text>
                        }
                   
                </div>
            </div>
        </a>
        <ul id="categories">
            <li>

                @using (Html.BeginForm("UpdateAccount", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.StreetNumber, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AdditionnalInfo, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AdditionnalInfo, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.BoxOffice, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.BoxOffice, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Town, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Town, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="Modifier mos données" />
                        </div>
                    </div>
                }

            </li>
        </ul>
    </li>

    <li>
        <a class="heading">
            <div class="tablebloc">
                <div class="tablebloc1">
                    <strong>
                        Mot de passe
                    </strong>
                </div>
                <div class="tablebloc2">
                    <span>**************</span>
                </div>
                <div class="tablebloc3">

                </div>
            </div>
        </a>
        <ul id="popular">
            <li>
                       
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <br />

                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Changer le mot de passe" class="btn btn-success" />
                        </div>
                    </div>
                }

            </li>
        </ul>
    </li>
           
</ul>

<script type="text/javascript">

    if ("undefined" == typeof jQuery)
        alert('error');

    $(document).ready(function () {

        //alert('document');

        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            navigation: true
        });
    });

</script>

